<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8" />
    <title>Upload Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</head>
<body>
    {% include 'admin/sidebar.html' %}
    <div class="admin-main-content">
        <h1>Upload Template Baru</h1>
        <form method="POST" enctype="multipart/form-data" class="form-upload-template">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="template_name">Nama Template:</label>
            <input type="text" name="template_name" id="template_name" required />

            <label for="file">File Template (PNG):</label>
            <input type="file" name="file" id="file" accept=".png" required />

            <button type="submit" class="btn-pink">Upload</button>
        </form>
    </div>
</body>
</html>
